<div class="container">
  <h1> Company List</h1>
  <hr>
  <div class="content row">
    <div class="company-list card col-md-8">
      <div class=" company-head card-header">
        Companies
      </div>
      <div class="card-block">
        <div ng-repeat="company in compayList ">
          <div class="card">
            <div class="card-header">
              <a href="#!/companies/{{company._id}}">{{company.name}}</a>
            </div>
            <div class="card-block">
              <p class="card-text">address: {{company.address}}</p>
              <p class="card-text">revenue: {{company.revenue | currency:"USD$ "}}</p>
              <p class="card-text">Phone: {{company.phone | tel}}</p>
              <a href="#!/companies/{{company._id}}" class="btn btn-primary">People who work here</a>
            </div>
          </div>
        </div>
      </div>
      
    </div>
    <div class="col-md-4">
      <form class="create-company">
        <h4> Create new company</h4>
        <hr>
        <div class="form-group">
          <label for="company-name">Name:</label>
          <input type="text" required="required" class="form-control" id="company-name" ng-model="company.name" placeholder="company name">
        </div>
        <div class="form-group">
          <label for="company-address">Address:</label>
          <input type="text" required="required" class="form-control" ng-model="company.address" d="company-address" placeholder="">
        </div>
        <div class="form-group">
          <label for="company-revenue">Revenue</label>
          <input type="Number" required="required" class="form-control" ng-model="company.revenue"
          id="company-revenue" placeholder="0.00">
        </div>
        <div class="form-group">
          <label for="company-phone">Phone:</label>
          <input type="text" required="required" class="form-control" ng-model="company.phone" maxlength="10"
          minlength="10" id="phonenumber" pattern="[0-9]{10}" placeholder"XXXXXXXXXX">
        </div>
        <div class="form-group row">
          <div class="offset-sm-2 col-sm-10">
            <button type="submit"  ng-click="createCompany()" class="btn btn-primary">Save</button>
            <button type="submit" ng-click="cancel()" class="btn btn-primary">Cancel</button>
          </div>
        </div>
      </form>
      <!-- <form class="create-person">
        <h4> Add new person</h4>
        <hr>
        <div class="form-group">
          <label for="person-name">Name:</label>
          <input type="text" class="form-control" id="person-name" placeholder="person name">
        </div>
        <div class="form-group">
          <label for="person-address">Address:</label>
          <input type="text" class="form-control" id="person-address" placeholder="">
        </div>
        <div class="form-group">
          <label for="person-phone">Email:</label>
          <input type="email" class="form-control" id="person-phone" placeholder="">
        </div>
        <div class="form-group">
          <label for="exampleSelect1">Company select</label>
          <select class="form-control" id="exampleSelect1">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
        <div class="form-group row">
          <div class="offset-sm-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Save</button>
            <button type="submit" class="btn btn-primary">Cancel</button>
          </div>
        </div>
      </form> -->
    </div>
  </div>