.back{
  position: absolute;
  top: 20px;
  right: 20px;
}
.company-list{
  padding-left: 0px;
  padding-right: 0px;
  height: 1000px;
  overflow: auto;
}
.card{
  margin-top: 20px;
}
.card-header{
  font-size: 30px;
}
.edit-company{
  float:right;
  margin-top: 10px;
}
.title{
  font-weight: 200;
}
form{
  margin-top: 15px;
}
